@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin center-element {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

// MEDIA QUERY MANAGER

/*
Normally you design your code mobile first or desktop first

- desktop first you have max-width in ascending order
- mobile first you have min-width in descending order


0-600     phone
601-900   tablet portrait
901-1200  htablet landscape
1200-1800 normal style
1800 ->   big desktop

$breackpoint argument:
- phone
- tab-port
- tab-land
- big-desktop

nelle media-queries usiamo em e non rem
perchè rem non funziona come dovrebbe in alcuni browser

1em = 16px (default browser font-size)

ORDER: Base + typography > general layout + grid > page layout > components

*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };  //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };  //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and  (max-width: 75em) { @content };  //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and  (min-width: 112.5em) { @content };  //1800px
    }
}

