.header {
    /* l'altezza è il 85% del viewport */
    height: 85vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
    /* combacia con la width del viewport */
    background-size: cover;
    /* il top rimane fisso mentre in caso vengono resizati i margini e il bottom */
    background-position: top;
    position: relative;

    /* se clip-path è supportato ... */
    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
        /* definisco un poligono in cui l'immagine verrà clippata 
        gli argomenti sono punti del quadro cartesiano partendo dal margine in alto a dx*/
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        /* l'altezza è il 95% del viewport */
        height: 95vh;
    }

    /*L'immagine grande è displayata quando lo schermo è ad alta risoluzione (192dpi = retina) 
      AND è più largo di 600px OR  più grande di 2000px*/
    @media only screen and  (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em),
    /* for safari */
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) 
    
    {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    }

    @include respond(tab-port) {
        height:65vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    &__logo-box {
        /* position absolute devev avere il parent relative! */
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        // per centrare contenuto in un box
        // porto il contenuto al centro
        // poi li traslo a 50% della width ed height
        // per centralo completamente
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        /*  per centrare il btn che è un inline-block */
        text-align: center;
    }

}