.composition {
     
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            width: 40%;
            outline-offset: 1rem;
        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
            }

        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port) {
                left: 30%;
                top: -1.5rem;
                z-index: 11;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port) {
                left: 60%;
                top: 0rem;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;

            @include respond(tab-port) {
                outline: 1rem solid $color-primary;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            }

        }
    }
    // quando sono in hover sulla composition
    // sleziono le img non in hover è le rimpicciolisco
    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }

}