.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        // input element non eredita automaticamente font-family e color
        // lo facciamo ereditare da _typography.scss body element
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        // aggiungo il border trasparente anche qua, se lo facessi apparire solo su
        // :focus gli elementi si sposterebbero
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }

        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark;
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        // oacity e visibility per nascondere l'elemento e renderelo animabile allo stesso momento
        // (se fosse solo hidden non sarebbe animabile)
        opacity: 0;
        visibility: hidden;
        //animazione
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 1rem;
        }

    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        // cambia il cursore sull'oggetto come se fosse un link
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transform: opacity .2sec;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}